.customLayout{
    min-height: 100vh;
    .header{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: black;
        margin: 5px 0;
        height: 55px;
        .logo{
            display: flex;
            align-items: center;
            border: 1px solid black;
            &:hover{
                border: 1px solid white;
            }
        }
        .searchBar{
            max-width: 600px;
        }
        .button{
            background-color: black;
            border: 1px solid black;
            display: flex;
            align-items: center;
            color: white;
            height: 100%;
            width: fit-content;
            line-height: 20px;
            text-align: left;
            padding: 0 10px;
            &:hover{
                border: 1px solid white;
            }
        }
        .cart{
            font-size: 26px;
            background-color: black;
            border: 1px solid black;
            display: flex;
            align-items: center;
            color: white;
            height: 100%;
            width: fit-content;
            line-height: 20px;
            text-align: left;
            padding: 0 10px;
            &:hover{
                border: 1px solid white;
            }
        }
    }
}